<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
    	<h4 class="text-center ">Learning Center</h4>
  	</ion-header-bar>
	<ion-content>
             <ion-list>
            <ion-item href="#/app/learning/packaging_steel_conversion_chart">
                <i><b>1</b></i>&nbsp;&nbsp;&nbsp;Packaging Steel Conversion Chart
          </ion-item>
                  <ion-item href="#/app/learning/thickness_conversion_chart">
                <i><b>2</b></i>&nbsp;&nbsp;&nbsp;Thickness Conversion Chart
          </ion-item>
                 <ion-item href="#/app/learning/raw_materials_grades">
                <i><b>3</b></i>&nbsp;&nbsp;&nbsp;Raw Materials Grades
          </ion-item>
                 <ion-item href="#/app/learning/bars_shapes_and_steel_plates_grades">
                <i><b>4</b></i>&nbsp;&nbsp;&nbsp;Bars, Shapes and Steel Plates Grades
          </ion-item>
             <ion-item href="#/app/learning/steel_plates_and_sheets_grades">
                <i><b>5</b></i>&nbsp;&nbsp;&nbsp;Steel Plates and Sheets Grades
          </ion-item>
                 <ion-item href="#/app/learning/steel_pipes_grades">
                <i><b>6</b></i>&nbsp;&nbsp;&nbsp;Steel Pipes Grades
          </ion-item>
                 </ion-item>
                 <ion-item href="#/app/learning/wire_and_wire_product_grades">
                <i><b>7</b></i>&nbsp;&nbsp;&nbsp;Wire and Wire Product Grades
          </ion-item>
             </ion-list>
  	</ion-content>
</ion-view>
