<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
    	<h4 class="text-center ">Learning Center</h4>
  	</ion-header-bar>
	<ion-content>
             <ion-list>
            <ion-item href="#/app/learning/packaging_steel_conversion_chart">
                <i><b>1</b></i>&nbsp;&nbsp;&nbsp;Packaging Steel Conversion Chart
          </ion-item>
                  <ion-item href="#/app/learning/thickness_conversion_chart">
                <i><b>2</b></i>&nbsp;&nbsp;&nbsp;Thickness Conversion Chart
          </ion-item>
             </ion-list>
  	</ion-content>
</ion-view>
